// 顏色
$cocoa: #8d5647;

$white: #f5f5f5;

$pink-dark: #ff8dab;
$pink: #ffb4c8;
$pink-light: #ffeff4;

$gray-3c: #3c3535;
$gray-555: #555;
$gray-999: #999;
$gray-ccc: #ccc;
$gray-ed: #ededed;

$facebook: #4d98d9;
$facebook-hover: #3e88c9;
$line: #49be49;
$line-hover: #38ad38;

$cinnamon-roll-lighter: #e4dfd9;
$cinnamon-roll-light: #ad9b8f;
$cinnamon-roll: #866853;
$cinnamon-roll-dark: #3c3535;
$cinnamon-roll-pink: #c16a8f;
$cinnamon-roll-pink-dark: #a04069;

$scone-lighter: #fffce2;
$scone-light: #fff6d3;
$scone: #fff0a7;
$scone-dark: #e3bf59;
$scone-red: #ea6060;
$scone-red-dark: #b93c3c;

$canele-lighter: #e3f4ff;
$canele-light: #8ec3eb;
$canele: #6baad9;
$canele-dark: #3583be;
$canele-yellow-light: #fff9db;
$canele-yellow: #fff4bf;

$tart-light: #f4f8ea;
$tart: #f0986f;
$tart-dark: #f78f59;

$dessert-light: #fffaeb;
$dessert: #8ad1cc;
$dessert-dark: #5ecec5;

$fika: #04678b;

// 甜點控市集
$tien-tien-bazaar-blue-light: #8ad1cc;
$tien-tien-bazaar-blue: #5ecec5;
$tien-tien-bazaar-pink-light: $pink;
$tien-tien-bazaar-pink: $pink-dark;
$tien-tien-bazaar-red: #fc7776;
$tien-tien-bazaar-yellow-light: #fff6d3;

// 台北甜點節
$dessert-festival-pink-lighter: #ffe8e9;
$dessert-festival-pink-light: #ffcccf;
$dessert-festival-pink: #ffabaf;
$dessert-festival-pink-dark: #ff868c;
$dessert-festival-cocoa: #662c1d;
$dessert-festival-yellow: #fff8dd;

// 尺寸
$media-xs: 360px;
$media-sm: 414px;
$media-md: 640px;
$media-lg: 768px;
$media-xl: 1024px;

// Container 預設水平邊界
$space5: 5px;
$space10: 10px;
$space15: 15px;
$space20: 20px;
$space25: 25px;
$space30: 30px;
$space35: 35px;
$space40: 40px;
$space50: 50px;
$space70: 70px;

// 置頂 Banner
$event-banner-height: 66px;
$event-banner-height-m: vw($event-banner-height);

// 各處 Nav 高度
$nav-height: 50px;
$tab-height: 50px;
$header-menu-height: 65px;
$header-height: 65px;
$header-height-no-menu: 85px;
$service-bar-height: 60px;
$event-shopping-tab-height: 50px;
$event-shopping-tab-height-m: vw(70);
$event-shopping-product-width: 230px;
$event-shopping-product-width-m: vw(170);
$buy-bar-height: 70px;

$modal-max-height: 95vh;
$modal-max-height-m: 80vh; // 75vh 以下，會出現，當購物車選日期對話框，用戶選有問題的日期，日期底下的錯誤訊息不會第一時間被看到
$modal-title-height: 60;

// 圓角
$radius: 5px;

// 感應區放大
$touch-zoom-x: $space15;
$touch-zoom-y: $space10;

// z-index
$z-index-bg: 10;
$z-index-normal: 20;
$z-index-footer: 20;
$z-slider-navigation: 30;
$z-index-sticky: 40;
$z-index-nav: 50;
$z-index-tooltip: 60;
$z-index-header: 70;
$z-index-sub-menu: 80;
$z-index-bottom-bar: 90;
$z-index-menu: 100;
$z-index-modal: 110;
$z-index-auth: 120;
$z-index-notification: 130;
$z-index-test-mark: 140;

$lines-line-height: 1.7;

// 後台
$backend-menu-width: 150px;
$backend-menu-width-m: vw(200);
